.navbar {
    background-color: #711731;
    border: none;
}

body {
    background: url(/static/headphones.jpg) no-repeat center center;
    background-size: cover;
}

html {
   height: 100%; 
}

.navbar-form {
    vertical-align: top;
    background-color: #711731;
    font-family: "Courier New", Courier;
}

.btn-default {
    background-color: #711731;
    border: none;
    color: #DECAB1;
    font-family: "Courier New", Courier;
    font-size: 1.25em;
}

.btn-default:hover {
    background-color: #711731;
    border: none;
    color: #DECAB1;
    font-family: "Courier New", Courier;
    font-size: 1.25em;
}

.product-description-column h1 {
    text-align: center;
}

.navbar-default .navbar-brand {
    font-family: 'Inknut Antiqua', serif;
    color: #99A7AB;
    font-size: 2em;
}


.navbar-default .navbar-nav>li>a {
    color: #DECAB1;
    font-family: "Courier New", Courier;

}

.tags-column {
    color: #492533;
    font-family: "Courier New", Courier;
    font-size: 1.25em;
}

/*includes a background div in white
*/
.article-column {
    color: #492533;
    font-family: "Courier New", Courier;
    background: rgba(255,255,255,.7);
    border-radius: 12px;
    padding-bottom: 194px;
    font-size: 1.25em;
}

.product-description-column {
    color: #492533;
    font-family: "Courier New", Courier;
    background: rgba(255,255,255,.7);
    border-radius: 12px;
    padding-bottom: 194px;
    font-size: 1.25em;
}

.button {
    color: #DECAB1;
    background-color: #711731;
    border: none;
    font-size: 1.25em;
}

#add-tag-modal {
    color: #492533;
    font-family: "Courier New", Courier;
}

.filter {
    color: #DECAB1;
    background-color: #711731;
    margin: 2px;
    border: none;
    font-size: 1.25em;
}

a {
    color: #492533;
    font-size: 1.25em;
}

#nav-link:hover {
    background-color: #711731;
    border: none;
    color: #DECAB1 !important;
    font-family: "Courier New", Courier;
    font-size: 1.25em;
}

h4 {
    font-size: 1.25em;
}

#login-button-homepage {
    float: left;
    margin-left: 300px;
}

#register-button-homepage {
    float: right;
    margin-right: 300px;
}

.profile-info-column {
    color: #492533;
    font-family: "Courier New", Courier;
    background: rgba(255,255,255,.7);
    border-radius: 12px;
    padding-bottom: 194px;
    font-size: 1.25em;
}

/* main color palette used in project
#492533
#DECAB1
#4A3533
#99A7AB
*/