{% extends 'base.html' %}

{% block title %} Add Article {% endblock %}

{% block content %}


<form action="/article-add-process" method="POST">
  Title:    <input type="text" name="article_title"> <br>
  Description (Optional): <input type="text" name="article_description"> <br>
  Text: <textarea name="article_text" rows='30' cols='80'></textarea> <br>
  URL Source (Optional)<input type="text" name="url_source"> <br>
  <input type="hidden" name="user_id_from_form" value="{{ user_id }}">
  <input type="submit" value="Save">
</form>


{% endblock %}