{% extends 'base.html' %}

{% block title %} 
  Article Closeup 
{% endblock %}

{% block page_specific_js %} 
<script src="/static/article_closeup.js"></script>        
{% endblock %}

{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Audio Articles</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        <ul style="list-style-type:none">
          <li>
          <form class="navbar-form navbar-left" action="/user-articles/{{ article_object.user_id }}" method=["POST"]>
          <button type="submit" class="btn btn-default">View your articles</button>
          </form>
          </li>

          <li>
          <form class="navbar-form navbar-left" action="/article-edit/{{ article_object.article_id }}">
          <button type="submit" class="btn btn-default">Edit article</button>
          </form>
          </li>
        
          <li>
          <form class="navbar-form navbar-left" action="/delete-article/{{ article_object.article_id }}" method=["POST"]>
          <button type="submit" class="btn btn-default">Delete article</button>
          </form>
          </li>

      
      <ul class="nav navbar-nav navbar-right" style="list-style-type:none">
        <li>
          <a href="/user-profile">View profile</a>
        </li>
    {% if session.get("user_id") %}
        <li>
        <form class="navbar-form navbar-right" action="/logout" method="POST">
        <button type="submit" class="btn btn-default">Logout</button>
        </form>
        </li>
    {% endif %}
          </ul>
          </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container-fluid image-container">
  <div class="row">

    <div class="col-xs-3 tags-column">
      <br>
      <button class="button" id="add-tags">Add Tag</button><br><br>
      <h4>Tags: 
        <div id="tags">
          {% for tag in article_object.tags %}
          <form id="tag-id-{{ tag.tag_id }}" class="delete-tag">
            <input type="hidden" name="article_id" value="{{ article_object.article_id }}">
            <input type="hidden" name="tag_id" value="{{ tag.tag_id }}">
            <input type="submit" class="filter" name="tag_value" value="{{ tag.tag_value }} x">
          </form>
          {% endfor %}
        </div>
      </h4>
    </div>
    
    <div class="col-xs-8 article-column">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <br>

        <form id="submit" method="GET" action="/read">

            <b>Select a voice:</b>
              <select name="voice" id="voice-id">
                {% for voice in all_voices %}
                  {% if 'en' in voice["LanguageCode"] %}
                    <option class="voice-option" value="{{ voice['Name'] }}">{{ voice["Name"] }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            <input type="hidden" name="text" id="text" value="{{ article_object.article_text }}">
            <input type="hidden" name="article_id" id="article-id" value="{{ article_object.article_id }}">
            <input type="submit" class="button" value="Read text" id="submit_read_request" >
          </form>

        <audio id="audio_controls" controls="controls" src="">
          Your browser does not support the <code>audio</code> element.
        </audio>
      <h1>{{ article_object.article_title }}</h1>
      <br>
        {% if article_object.article_description %}
        <b>Description:</b> {{ article_object.article_description }}
        <br><br>
          {% endif %}

          <b>Text:</b> {{ article_object.article_text }} 
          <br><br>
          <b>Read Status:</b> {{ article_object.read_status }}
          <br><br>
          <b>Added:</b> {{ article_object.date_added.strftime('%m-%d-%Y') }}
          <br><br>

          {% if article_object.url_source %}
            <b>URL Source:</b> {{ article_object.url_source }}
            <br><br>
          {% endif %}

      {% if article_object.last_listened %}
          <b>Last Listened:</b> {{ article_object.last_listened.strftime('%m-%d-%Y %I:%M%p') }}
          <br><br>
      {% endif %}
    </div>

  </div>
</div>




    <div id="add-tag-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Add Tag</h4>
          </div>
          <div class="modal-body">
            <form id="add-tag-form">
          Tag Name: <input id="tag-field" type="text" name="tag-name">
                    <input type="hidden" name="article_id" id="article-id" value="{{ article_object.article_id }}">
        </form method="POST">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input form="add-tag-form" id="tag-form-button" type="submit" class="btn btn-primary" value="Add Tag">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>
{% endblock %}
             







