{% extends 'base.html' %}

{% block title %} 
  Article Closeup 
{% endblock %}

{% block content %}
  <form action="/user-articles/{{ article_object.user_id }}">
    <input type="submit" value="View your articles" />
  </form>

  <form action="/article-edit/{{ article_object.article_id }}">
    <input type="submit" value="Edit article" />
  </form>

  <br><br>
    <h1>{{ article_object.article_title }}</h1>
  <br>

  {% if article_object.article_description %}
    Description: {{ article_object.article_description }}
    <br><br>
  {% endif %}

  Text: {{ article_object.article_text }} 
  <br><br>
  Read Status: {{ article_object.read_status }}
  <br><br>
  Added: {{ article_object.date_added.strftime('%m-%d-%Y') }}
  <br><br>

  {% if article_object.url_source %}
    URL Source: {{ article_object.url_source }}
    <br><br>
  {% endif %}

  {% if article_object.last_listened %}
    Last Listened: {{ article_object.last_listened.strftime('%m-%d-%Y %I:%M%p') }}
    <br><br>
  {% endif %}

  <form id="submit" method="GET" action="/read">

    Select a voice:
      <select name="voice" id="voice-id">
        {% for voice in all_voices %}
          {% if 'en' in voice["LanguageCode"] %}
            <option value="{{ voice['Name'] }}">{{ voice["Name"] }}</option>
          {% endif %}
        {% endfor %}
      </select>
    <input type="hidden" name="text" id="text" value="{{ article_object.article_text }}">
    <input type="hidden" name="article_id" id="article-id" value="{{ article_object.article_id }}">
    <input type="submit" value="Read text" id="submit_read_request" >
  </form>

<audio id="audio_controls" controls="controls" src="">
  Your browser does not support the <code>audio</code> element.
</audio>

<script type="text/javascript">
$("#audio_controls").hide();

// prevents default and makes call to read route, constructing URL, on click
$("#submit_read_request").click(function(event){
    event.preventDefault();
    var voiceId = $("#voice-id").val();
    var articleText = $("#text").val();
    var articleId = $("#article-id").val();
    var src = "/read?text=" + articleText + "&article_id=" + articleId + "&voice=" + voiceId;
    $("#audio_controls").attr("src", src);
    $("#audio_controls").show(); 
                                    });
</script>

{% endblock %}
             







