<!doctype html>
<html>
  
  <head>
    <title>
      {% block title %} 
        Put your title here 
      {% endblock %}
    </title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/audio_articles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>

    {% block page_specific_js %} 
         
    


    {% endblock %}
  </head>

  <body>
    {% if session.get("user_id") %}
      <form action="/logout" method="POST">
        <input type="submit" value="Logout">
      </form>
    {% else %}
      <form id="login_button" action="/login" method="GET">
        <input type="submit" value="Login">
      </form>

      <form id="register_button" action="/register" method="GET">
        <input type="submit" value="Register">
      </form>
    {% endif %}

    {% block content %} 
      Put your content here 

    {% endblock %}

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>