<!doctype html>
<html>
  <head>
    <title>
      {% block title %} 
        Put your title here 
      {% endblock %}
    </title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous">
    </script>
  </head>

  <body>
    {% if session.get("user_id") %}
      <form action="/logout" method="POST">
        <input type="submit" value="Logout">
      </form>
    {% else %}
      <form id="login_button" action="/login" method="GET">
        <input type="submit" value="Login">
      </form>

      <form id="register_button" action="/register" method="GET">
        <input type="submit" value="Register">
      </form>
    {% endif %}

    {% block content %} 
      Put your content here 
    {% endblock %}

  </body>
</html>