{% extends 'base.html' %}

{% block title %} 
  Homepage 
{% endblock %}

{% block page_specific_js %} 
<script src="http://unpkg.com/react/dist/react.js"></script>
<script src="http://unpkg.com/react-dom/dist/react-dom.js"></script>
<script src="http://unpkg.com/babel-standalone"></script>
<script src="/static/homepage.js"></script>  
{% endblock %}

{% block content %}

<div class="container-fluid image-container"> 
<div class="row">
  <div class="col-xs-12">
    <br>
    <br>
    <br>
  </div>
</div> 
  
<div class="row">

    <div class="col-xs-8 col-xs-offset-2 product-description-column">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <br><br>
      <h1>Welcome to Audio Articles</h1>      
      <span id="audio_articles_summary">
      <p>
      Register to save your articles, access them later and have them read aloud to you!
      </p>
      <br>
      <br>
      <form action="/login" method="GET">
        <input id="login-button-homepage" class="button" type="submit" value="Login">
      </form>

      <form action="/register" method="GET">
        <input id="register-button-homepage" class="button" type="submit" value="Register">
      </form>
    </span>

    </div>
  </div>
</div>

{% endblock %}