{% extends 'base.html' %}
  {% block title %} 
    Login 
  {% endblock %}

  {% block content %}


<div class="container-fluid image-container">
  <div class="row">

    <div class="col-xs-8 col-xs-offset-2 article-column">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h1>Login</h1>

    <form action="/login-process" method="POST">
      <table style="width:100%">
        <tr>
          <td>Username or Email:</td>
          <td><input type="text" name="username_or_email"></td> 
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="password" name="password"></td> 
        </tr>
        <tr>
          <td><input type="submit" value="Login" class="button"></td>
        </tr>
      </table>  
    </form>

    </div>
    </div>
</div>

<script type="text/javascript">
$("#login-button").hide();
</script>

  {% endblock %}