
{% extends 'base.html' %}

  {% block title %} 
    Register 
  {% endblock %}

  {% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}


  <h1>Register</h1>

    <form action="/register-process" method="POST">
      Username:  <input type="text" name="username"> <br>
      First Name: <input type="text" name="f_name"> <br>
      Last Name:  <input type="text" name="l_name"> <br>
      Password:   <input type="password" name="password"> <br>
      Email:      <input type="text" name="email"> <br>
      Phone:      <input type="text" name="phone"> <br><br>
      <input type="submit" class="button" value="Create Account">
    </form>

  <script type="text/javascript">
  $("#register_button").hide();
  </script>
  {% endblock %}